#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav > img {
  padding-right: 15px;
  cursor: pointer;
}
.delete-account, .logout {
  display: flex;
  gap: 5px;
  font-size: 16px;
  padding: 8px 15px;
  align-items: center;
}

aside {
  background-color: #606c38;
  padding: 17px 17px 17px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  border-radius: 50px 0px 0px 50px;
}
.upload-file, .create-folder, .home {
  display: flex;
  gap: 5px;
  align-items: flex-start;
  padding: 8px;
}
.upload-file, .create-folder {
  border-style: dashed;
  border-color: white;
}
.upload-file, .create-folder, .home {
  border-radius: 8px;
}
.upload-file img, .create-folder img, .home img {
  padding-top: 4px;
}
.upload-file:hover, .create-folder:hover, .home:hover{
  cursor: pointer;
  background-color: #4e5a2a;
}
.home {
  text-align: start;
}
.account-pop-up .account-buttons {
  display: flex;
  justify-content: space-between;
}
.account-pop-up {
  width: 300px !important;
  border-radius: 8px;
}
.account-overlay {
  background: rgba(255, 255, 255, 0) !important
}


main {
  background-color: #eeeaea;
  flex: 1;
  display: grid;
  padding: 15px;
  grid-template-columns: 1fr 5fr;
  border-radius: 50px;
  margin: 15px 30px 5px;
}
section {
  padding-left: 20px;
}
footer {
  margin: 10px auto;
  font-weight: 500;
}

.folder-name {
  display: flex;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  margin: 20px 0px;
  align-items: center;
}
.side-arrow {
  margin: 0px 15px;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


