#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  text-align: center;
}
body {
  padding: 15px 30px;
}

aside {
  background-color: #606c38;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
}
.upload-file, .create-folder, .home {
  display: flex;
  gap: 5px;
  align-items: flex-start;
  padding: 8px;
}
.upload-file, .create-folder {
  border-style: dashed;
  border-color: white;
}
.upload-file, .create-folder, .home {
  border-radius: 8px;
}
.upload-file img, .create-folder img, .home img {
  padding-top: 4px;
}
.upload-file:hover, .create-folder:hover, .home:hover{
  cursor: pointer;
  background-color: #4e5a2a;
}
.home {
  text-align: start;
}


main {
  background-color: #eeeaea;
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 5fr;
}
section {
  padding-left: 20px;
}

.folder-name {
  text-align: left;
  font-size: 20px;
  font-weight: 500;
}
.side-arrow {
  margin: 0px 15px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
