/* Overlay styling */
.overlay, .account-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(50, 50, 50, 0.5); /* semi-transparent background */
    z-index: 999; /* Ensures it stays above the rest of the content */
  }
  
  /* Popup styling */
  .pop-up, .account-pop-up {
    position: fixed;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000; /* Higher than overlay to stay on top */
    width: 150px;
    text-align: center;
    color: black;
  }

  .folder, .file, .column-labels {
    display: flex;
  }
  .folder, .file {
    padding: 11px 0px;
  }
  .folder:hover, .file:hover{
    cursor: pointer;
    background-color: #d3d2d2;
  }
  .folder + hr, .file + hr, .bottom-half hr{
    margin: 0px;
  }
  .folder img, .file img {
    padding: 1px 5px;
    border-radius: 5px;
  }
  .rename-dialog, .delete-dialog, .create-folder-dialog, .pop-up, .delete-account-dialog {
    border-radius: 8px;
    background-color: whitesmoke;
    cursor: pointer;
  }
  .delete-account-dialog, .delete-dialog {
    background-color: #405207;
    cursor:default;
  }
  .deletion-warning, .selected {
    padding: 4px 6px;
    border-radius: 8px;
    background-color: #6d0707;
    color:#dcd1d1;
  }
  .folder img:hover, .file img:hover{
    background-color: #afaeae;
  }
  .rename:hover, .delete:hover, .download:hover {
    background-color: #cbc9c9;
    border-radius: 6px;
  }
  .column-labels {
    margin-bottom: 10px;
  }
  .name-column, .name {
    width: 400px;
    text-align: left;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
  }

  .rename-dialog form, .create-folder-dialog form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: black;
    width: 350px;
  }
  .bottom-half {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .selected {
    text-align:left;
    white-space: nowrap;
    overflow: hidden;
  }
  .selected div {
    font-style: italic;
    font-weight: 500;
  }
  input {
    font-size: 20px;
    padding: 2px 4px;
    background-color: whitesmoke;
    border-style: none;
    border-bottom-style: solid;
    border-color: black;
    outline: none;
    color: black;
  }
  .rename-dialog form .buttons, .create-folder-dialog form .buttons, .delete-dialog form .buttons, .delete-account-dialog .account-buttons{
    display: flex;
    gap: 15px;
    justify-content: end;
  }
  .rename-dialog form button, .create-folder-dialog form button {
    background-color: #606c38;
  }
 
  .rename-dialog label, .create-folder-dialog label{
    font-size: 30px;
    text-align: left;
  }
  .delete-dialog label {
    font-size: 20px;
    font-weight: 500;
  }

  .name {
    display: flex;
    gap: 15px;
  }
  .name img {
    padding-top: 2px;
  }
  .name .tab {
    padding-top: 5px;
  }
  .name a{
    height: 18px;
  }
  .name div {
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
  }
  .last-modified-column, .last-modified, .file-size-column, .size {
    width: 250px;
    text-align: left;
    padding-left: 25px;
  }
  